Greetings {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

Can't remember your password? Don't worry about it — it happens.

You are receiving this email because you (or someone pretending to be you)
requested that your password be reset.

Your username, in case you've forgotten: {{ user.username }}

Click the following link to reset your password (or copy and paste it into your web browser):
{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}

Best regards,
{{ site_name }} 

Didn't ask to reset your password?
If you do not wish to reset your password, you don't need to take any further action and can safely disregard this email.