{% extends 'signup/base_signup.html' %}


{% block title %}Password reset{% endblock %}

{% block content %}

    <section class="dark-bg">

        <div class="row">
      
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="light-box spaced-box">

					<h1>We have sent you an email with a link to reset your password. <strong>Please check your inbox</strong> and <strong>click the link to continue.</strong></h1>
                </div>

            	<div class="clearfix"><br/><br/><br/><br/></div>
            	
            </div>


        </div>

    </section>					

{% endblock %}
