{% extends 'signup/base_signup.html' %}

{% load i18n %}

{% block title %}Reset password{% endblock %}

{% block content %}


    <section class="dark-bg">

        <div class="row">
      
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="light-box spaced-box">

                    <h1>{% trans "Password reset" %}</h1>
                    <h3>{% trans "Can't login? Forgot your password? Enter your email address below and we'll send you instructions for setting a new one." %}</h3>

                    <form action="" method="post">{% csrf_token %}

                        {{ form.email.errors }}

                        <label for="id_email" class="col-sm-2" style="text-align:right;">{% trans 'Email address:' %}</label>
                        
                        {{ form.email }}
                        
                        <p>
                            <button type="submit" class="btn btn-primary btn-lg">
                              {% trans 'Reset my password' %}  <i class="fa fa-sign-in"></i> 
                            </button>
                        </p>

                    </form>

                </div>

            </div>

        </div>

    </section>

{% endblock %}
