
  <!-- menu_hamburguer.html -->
  <header id="home">
    <nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
            <nav class="pull">
              <ul class="top-nav">
                <li><a href="">Fale Conosco<span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                <li><a href="">Nossa Localização<span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                <li><a href="">Anunciar Imóvel<span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                <li><a target="_blank" href="{% url 'pcorretor.paineldocorretor' %}">Login <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </nav>
  </header>