{% load humanize cropping %}

  <h1>
    <small>Exibir/Esconder:</small>
    <button id="show_1dorm" type="button" class="btn btn-sm btn-default btn-primary">1 <i class="fa fa-bed"></i>
    </button>
    <button id="show_2dorm" type="button" class="btn btn-sm btn-default btn-primary">2 <i class="fa fa-bed"></i>
    </button>
    <button id="show_3dorm" type="button" class="btn btn-sm btn-default btn-primary">3 <i class="fa fa-bed"></i>
    </button>

    <button id="show_elevador" type="button" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="top" data-original-title="Mostra apenas com elevador"><i class="fa fa-dashboard"></i>
    </button>
    <button id="show_varanda" type="button" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="top" data-original-title="Mostra apenas com Varanda/Sacada"><i class="fa fa-tree"></i>
    </button>
    <button id="show_nao_ocupado" type="button" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="top" data-original-title="Mostra apenas NÃO ocupado"><i class="fa fa-circle-o"></i>
    </button>
    <button id="show_mobiliado" type="button" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="top" data-original-title="Mostra apenas mobiliado"><i class="fa fa-desktop"></i>
    </button>

    <button id="show_todos" type="button" class="btn btn-sm btn-default btn-primary" data-toggle="tooltip" data-placement="top" data-original-title="Mostra todos"><i class="fa fa-asterisk"></i> Todos
    </button>

  </h1>
  {% regroup imoveis_list by bairro as bairros %}
  
  {% for bairro in bairros %}

    <h4 class="show_bairro" id="{{ bairro.grouper|slugify }}">
      {% if bairro.grouper in interesse.bairros.all %}
      <strong> <i class="fa fa-arrow-circle-right"></i> {{ bairro.grouper }}</strong>
      {% else %}
      <i class="fa fa-question"></i> {{ bairro.grouper }}
      {% endif %}
      ({{ bairro.list|length }} imóveis)
    </h4>

    <table class="table table-condensed table-hover {{ bairro.grouper|slugify }}" style="margin-left: 14px; display: none">
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td>Valores</td>

          <td><i class="fa fa-bed"></i></td>
          <td>Banh.</td>
          <td>Suítes</td>
          <td><i class="fa fa-car"></i></td>
          <td><i class="fa fa-crop"></i></td>

          <td><i class="fa fa-dashboard" data-toggle="tooltip" data-placement="top" data-original-title="Com elevador"></i></td>
          <td><i class="fa fa-tree" data-toggle="tooltip" data-placement="top" data-original-title="Com sacada/varanda"></i></td>
          <td><i class="fa fa-circle" data-toggle="tooltip" data-placement="top" data-original-title="Ocupado"></i></td>
          <td><i class="fa fa-desktop" data-toggle="tooltip" data-placement="top" data-original-title="Mobiliado"></i></td>

          <td></td>
          <td></td>
        </tr>
      {% for imovel in bairro.list %}
        <tr class="{% if imovel.imovel_ref in interesse.todas_opcoes_para_visita_refs %}success{% endif %} {{ imovel.dormitorios }}dorm 
        {% if not imovel.com_elevador %}sem_elevador {% endif %}
        {% if not imovel.tem_sacada_varanda %}sem_varanda {% endif %}
        {% if imovel.esta_ocupado %}ocupado {% endif %}
        {% if not imovel.esta_mobiliado %}nao_mobiliado {% endif %}
        imovel">
          <td>
            {% if imovel.foto_principal %}
              <img style="max-height: 74px;" src="{% cropped_thumbnail imovel.foto_principal 'picture_cropping' scale=0.5 %}" data-toggle="tooltip" data-placement="top" data-original-title="{{ imovel.titulo }}">
            {% endif %}            
          </td>
          <td>
            <a class="btn btn-default btn-xs" target="_new" href="{{ imovel.get_absolute_url }}" data-toggle="tooltip" data-placement="top" data-original-title="{{ imovel.descricao_imovel }}">Ref.{{ imovel.imovel_ref }}</a>
            <small>
            {% if imovel.condominio %}
              {{ imovel.condominio }}<br>
            {% endif %}
            {{ imovel.logradouro }}
            {% if imovel.complemento %}
              <br>{{ imovel.complemento }}
            {% endif %}
            </small>
          </td>
          <td>
            <small>Venda R$</small><strong>{{ imovel.valor_venda|intcomma }}</strong><br>
            <small>Locação R$</small><strong>{{ imovel.valor_locacao|intcomma }}</strong><br>
            <small>Cond. R${{ imovel.valor_condominio|intcomma }}</small>
          </td>

          <td>{{ imovel.dormitorios }}</td>
          <td>{{ imovel.banheiros }}</td>
          <td>{{ imovel.suites }}</td>
          <td>{{ imovel.vagas_garagem }}</td>
          <td>
            <small>{{ imovel.area_construida }}m&sup2;</small>
            {% if not imovel.tipo_imovel == 'apartamento' %}
            <br><small>Terreno: {{ imovel.area_terreno }} m&sup2;</small>
            {% endif %}
          </td>

          <td>
            {% if imovel.com_elevador %}<i class="fa fa-check"></i>{% endif %}
          </td>
          <td>
            {% if imovel.tem_sacada_varanda %}<i class="fa fa-check"></i>{% endif %}
          </td>
          <td>
            {% if imovel.esta_ocupado %}<i class="fa fa-check"></i>{% endif %}
          </td>
          <td>
            {% if imovel.esta_mobiliado %}<i class="fa fa-check"></i>{% endif %}
          </td>

          <td>
             <button id="{{ imovel.imovel_ref }}" type="button" class="btn btn-warning btn-xs adiciona_ref"><i class="fa fa-plus"></i>
            </button>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endfor %}

<script type="text/javascript">
  $(function() {

    $( ".show_bairro" ).click(function() {
      //$( "#imoveis_do_perfil" ).toggle("fast");
      var texto = $(this).attr('id');
      $( "." + texto ).toggle("fast");
    });

    $( ".adiciona_ref" ).click(function(){
      var nova_ref = $(this).attr('id');
      $( "#id_imovel_ref" ).val($( "#id_imovel_ref").val() + nova_ref + ",");      
    });

    $( "#show_1dorm").click(function(){
      $( ".1dorm" ).toggle("fast");
      $( "#show_1dorm" ).toggleClass( "btn-primary" );
      $( "#show_todos").removeClass( "btn-primary" );
    });

    $( "#show_2dorm").click(function(){
      $( ".2dorm" ).toggle("fast");
      $( "#show_2dorm" ).toggleClass( "btn-primary" );
      $( "#show_todos").removeClass( "btn-primary" );
    });

    $( "#show_3dorm").click(function(){
      $( ".3dorm" ).toggle("fast");
      $( "#show_3dorm" ).toggleClass( "btn-primary" );
      $( "#show_todos").removeClass( "btn-primary" );
    });

    $( "#show_elevador").click(function() {
      var el = $(this);
      if ( el.hasClass( "btn-primary" ) ) {
        $( ".sem_elevador" ).show();
      } else {
        $( ".sem_elevador" ).hide("fast");
      }      
      el.toggleClass( "btn-primary" );
      $( "#show_todos").removeClass( "btn-primary" );
    });

    $( "#show_varanda").click(function() {
      var el = $(this);
      if ( el.hasClass( "btn-primary" ) ) {
        $( ".sem_varanda" ).show();
      } else {
        $( ".sem_varanda" ).hide("fast");
      }      
      el.toggleClass( "btn-primary" );
      $( "#show_todos").removeClass( "btn-primary" );
    });

    $( "#show_nao_ocupado").click(function() {
      var el = $(this);
      el.toggleClass( "btn-primary" );
      if ( el.hasClass( "btn-primary" ) ) {
        $( ".ocupado" ).hide("fast");
      } else {
        $( ".ocupado" ).show();
      }
      $( "#show_todos").removeClass( "btn-primary" );
    });

    $( "#show_mobiliado").click(function() {
      var el = $(this);
      if ( el.hasClass( "btn-primary" ) ) {
        $( ".nao_mobiliado" ).show();
      } else {
        $( ".nao_mobiliado" ).hide("fast");
      }      
      el.toggleClass( "btn-primary" );
      $( "#show_todos").removeClass( "btn-primary" );
    });

    $( "#show_todos").click(function() {
      var el = $(this);
      if ( !el.hasClass( "btn-primary" ) ) {
        el.addClass( "btn-primary" );
      }
      $( ".imovel" ).show("fast");

      ["show_1dorm", "show_2dorm", "show_3dorm"].forEach( function(button) {
        var el = $("#" + button);
        if ( !el.hasClass( "btn-primary" ) ) {
          el.addClass( "btn-primary" );
        }
      });

      ["show_elevador", "show_varanda", "show_nao_ocupado", "show_mobiliado" ].forEach( function(button) {
        var el = $("#" + button);
        if ( el.hasClass( "btn-primary" ) ) {
          el.removeClass( "btn-primary" );
        }
      });

    });

  });
</script>
     <!--
    description
    postal_code
    new -->