{% extends 'core/base_core.html' %}

{% block navbar_area %}
{% endblock %}

{% block content %}
{% endblock %}

{% block slider_area %}
{% endblock %}


{% block header_area %}

	<div align="center">
		<br/><br/>
		<div>
			<h1>Builds</h1>
            <p>

            </p>
		</div>
		<br/><br/>
	</div>

    <section class="intro section-padding">
      <div class="container">
        <div class="row">

              <div class="col-md-12">
                <h1><strong>Build #53</strong> ---- 10 de Setembro 2015</h1>
                <ul>
                  <li><a href="#">#EMAIL Melhorando a qualidade dos emails para não ir para SPAM</a> <strong>#Improvement</strong></li>
                  <li><a href="#">#EMAIL Adicionando cancelamento (Unsubscribe) para evitar SPAM</a> <strong>#Improvement</strong></li>
                  <li><a href="#">#PCLIENTE Ajustes para o painel do cliente funcionar melhor no IE8 e IE11</a> <strong>#Improvement</strong></li>
                  <li><a href="#">#CORREÇÃO Remover a pendência após enviar mensagem para o cliente</a> <strong>#BugFix</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #52</strong> ---- 4 de Setembro 2015</h1>
                <ul>
                  <li><a href="#">#PADMIN Alterada a ordem dos campos no lançamento de novos atendimentos</a> <strong>#Improvement</strong></li>
                  <li><a href="#">#PADMIN Permitir alterar a cidade e o tipo de interesse antes de atribuir corretor</a> <strong>#Improvement</strong></li>
                  <li><a href="#">#PCLIENTE Enviar email para o corretor apenas quando é o cliente que clicou que quer visitar o imóvel</a> <strong>#Improvement</strong></li>
                  <li><a href="#">#PCLIENTE Registra atividade quando o cliente informa o melhor horário</a> <strong>#Improvement</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #51</strong> ---- 26 de Agosto 2015</h1>
                <ul>
                  <li>PADMIN Permitindo enviar mensagem para o corretor diretamente no cadastro de novos atendimentos <strong>#Improvement</strong></li>
                  <li>PADMIN Escolha do próximo corretor utilizando uma fila de atendimento <strong>#Improvement</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #50</strong> ---- 6 de Agosto 2015</h1>
                <ul>
                  <li><a href="#">#PCLIENTE Enviando email como corretor</a> <strong>#Improvement</strong></li>
                  <li><a href="#">#PCLIENTE Adicionado o email do cliente no registrar perfil</a> <strong>#Improvement</strong></li>
                  <li><a href="#">#PCLIENTE Permite que o corretor envie links nas mensagens</a> <strong>#Improvement</strong></li>
                  <li><a href="#">#PCLIENTE Melhor conteúdo do email de contato</a> <strong>#Improvement</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #49</strong> ---- 30 de Julho 2015</h1>
                <ul>
                  <li><a href="#">#PCLIENTE Permitir adicionar LINKS para referências nas mensagens para os clientes</a> <strong>#NewFeature</strong></li>
                  <li><a href="#">#CORE Versão inicial do email INBOUND (auto atendimento)</a> <strong>#NewFeature</strong></li>
                  <li><a href="#">#BUSCADOR Não permitir valor em branco</a> <strong>#Improvement</strong></li>
                  <li><a href="#">#BUSCADOR Número de referência incremental </a> <strong>#Improvement</strong></li>
                  <li><a href="#">#RELATÓRIO Tempos nos atendimentos</a> <strong>#Bugfix|Improvement|NewFeature</strong></li>
                  <li><a href="#">#CORE Posibilidade de marcar corretores como inativo</a> <strong>#Improvement</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #48</strong> ---- 24 de Junho 2015</h1>
                <ul>
                  <li><a href="#">#BUGFIX Obter o cliente pelo telefone quando o email nao é informado</a><strong>#Bugfix</strong></li>
                  <li><a href="#">#ESTATISTICAS Revisão do relatório mensal</a><strong>#Improvement</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #47</strong> ---- 18 de Junho 2015</h1>
                <ul>
                  <li><a href="#">#PCORRETOR Melhorando a visualização do painel do corretor com inf. de dormitórios, vagas.</a><strong>#Improvement</strong></li>
                  <li><a href="#">#PCORRETOR Adicionado o valor mínimo no interesse do cliente.</a><strong>#Improvement</strong></li>
                  <li><a href="#">#PCORRETOR Adicionado o campo de cidade nos atendimentos.</a><strong>#Improvement</strong></li>
                  <li><a href="#">#PCORRETOR Adicionado um campo para nota de bairros.</a><strong>#Improvement</strong></li>
                  <li><a href="#">#ADMIN Mostrar o nome do cliente após entrar com o telefone/email no novo atendimento.</a><strong>#Improvement</strong></li>
                  <li><a href="#">#FIX Erro 404 quando é passado um email incompleto no cadastro de novo atendimento.</a><strong>#Improvement</strong></li>
                  <li><a href="#">#FIX Erro 404 quando é passado um email incompleto no cadastro de novo atendimento.</a><strong>#Improvement</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #46</strong> ---- 10 de Junho 2015</h1>
                <ul>
                  <li><a href="#">#PCLIENTE Indicador se gostou ou não do imóvel após visita.</a><strong>#NewFeature</strong></li>
                </ul>
              </div>
              <div class="col-md-12">
                <h1><strong>Build #45</strong> ---- 6 de Junho 2015</h1>
                <ul>
                  <li><a href="#">#CORREÇÃO Bloqueio do envio de mensagens em branco.</a><strong>#NewFeature</strong></li>
                  <li><a href="#">#CORREÇÃO Campo de atribuir corretor aceitava deixar o corretor em branco.</a><strong>#NewFeature</strong></li>
                  <li><a href="#">#PAINEL CLIENTE Novos campos visíveis: Mais Informações, detalhe das atividades </a><strong>#NewFeature</strong></li>
                  <li><a href="#">#CORRETOR Aumento do tamanho do campo: Nota do corretor.</a><strong>#NewFeature</strong></li>
                  <li><a href="#">#ADMIN Permitir troca de corretor</a><strong>#Improvement</strong></li>
                  <li><a href="#">#</a> BUSCADOR: Versão inicial do cadastro de imóveis. <strong>#NewFeature</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #44</strong> ---- 29 Maio 2015</h1>
                <ul>                    
                  <li><a href="#">#</a> BUSCADOR: Versão revisada das páginas de busca de imóveis e filtros. <strong>#Improvement</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #43</strong> ---- 14 Maio 2015</h1>
                <ul>                    
                  <li><a href="#">#</a> BUSCADOR: Removido a áre máximo do filtro de imóveis. <strong>#Improvement</strong></li>
                  <li><a href="#">#</a> BUSCADOR: Melhoria na lista de tipos de imóveis. <strong>#Improvement</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #42</strong> ---- 13 Maio 2015</h1>
                <ul>                    
                  <li><a href="#">#</a> BUSCADOR: Melhoria no filtro (campo sub tipo imóvel, imóvel novo, condomínio). <strong>#Improvement</strong></li>
                  <li><a href="#">#</a> BUSCADOR: Melhoria na exibição das regiões. <strong>#Improvement</strong></li>
                  <li><a href="#">#</a> CORRETOR: Informativo de onde o cliente veio (todos paineis). <strong>#Improvement</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #41</strong> ---- 9 Maio 2015</h1>
                <ul>                    
                  <li><a href="#">#</a> BUSCADOR: Melhoria no filtro (horizontal, novos campos). <strong>#Improvement</strong></li>
                  <li><a href="#">#</a> BUSCADOR: Cabeçalho nas paginas. <strong>#Improvement</strong></li>
                  <li><a href="#">#</a> BUSCADOR: Slider nas fotos da página de detalhe. <strong>#NewFeature</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #40</strong> ---- 4 Maio 2015</h1>
                <ul>                    
                  <li><a href="#">#</a> BUSCADOR: Protótipo da home. <strong>#NewFeature</strong></li>
                  <li><a href="#">#</a> BUSCADOR: Protótipo da listagem de resultado. <strong>#NewFeature</strong></li>
                  <li><a href="#">#</a> BUSCADOR: Protótipo dos detalhes do imóvel. <strong>#NewFeature</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #39</strong> ---- 22 Abril 2015</h1>
                <ul>                    
                    <li><a href="#">#</a> Admin: Corrigido o pop up do atribuir corretor. <strong>#BugFix</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #38</strong> ---- 17 Abril 2015</h1>
                <ul>                    
                    <li><a href="#">#</a> #Corretor: Listagem do histórico de atendimentos anteriores. <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #Admin: Formatar o nome e email dos clientes ao salvar novo cliente. <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #Cliente: Botao agendar visita não estava abrindo pop up. <strong>#BugFix</strong></li>
                    <li><a href="#">#</a> #Geral: Adicionado um favicon para melhorar visual e evitar erros 404. <strong>#BugFix</strong></li>
                    <li><a href="#">#</a> #Corretor: Botão de 'Não atende' não estava funcionando no registrar perfil dos atendimentos. <strong>#BugFix</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #37</strong> ---- 15 Abril 2015</h1>
                <ul>                    
                    <li><a href="#">#</a> #STATS: Gravando a data da proposta e data do contrato. <strong>#Improvement</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #36</strong> ---- 14 Abril 2015</h1>
                <ul>                    
                    <li><a href="#">#</a> #CORRETOR: Possibilidade de adicionar multiplas referências (separadas por virgula) de uma vez. <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Não adiciona referências duplicadas. <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Possibilidade de deletar referências inválidas ou que já foram alugadas/vendidas. <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Diminuir a quantidade de registro de atividades do tipo '#5 Adicionar Ref.'. <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #ADMIN: Permitir o administrador finalizar atendimentos <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #GERAL: Novo tipo de finalização: 'Engano' que representa um novo atendimento cadastrado por engano. <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #GERAL: Nome e telefone da imobiliaria no topo do painel do cliente <strong>#Improvement</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #35</strong> ---- 10 Abril 2015</h1>
                <ul>
                    <li><a href="#">#</a> #CORRETOR: Melhoria no título do adicionar novo contato/atendimento (destacar que é apenas para atendimentos diretos do corretor) <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR #UX: Destacado na cor laranja as opções dos corretores e verde as opções para os clientes (dentro do painel do cliente) <strong>#Improvement</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #34</strong> ---- 01 Abril 2015</h1>
                <ul>
                    <li><a href="#">#</a> #ADMIN: Novos indicadores nos gráficos mensais <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Removendo o excesso de atividades do tipo 'Registrar Perfil' <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Indicador da data de finalização <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Novo indicador da última comunicação com o cliente - melhor ordenação <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Mostrar a Ref. nas visitas agendas no painel do corretor <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Mostrar o valor do imóvel no painel do corretor <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #FIX: Salvar perfil estava mantendo todos clientes como não atende <strong>#Bugfix</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Melhoria na usabilidade no atribuir data de agendamento e visita efetuada <strong>#Improvement</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #33</strong> ---- 20 Março 2015</h1>
                <ul>
                    <li><a href="#">#</a> #CORRETOR: Permitindo alterar email do cliente <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #ADMIN: Corrigindo chamadas AJAX no cad. de novo contato <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Melhoria nos calls to actions no painel do cliente <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Novo campo 'imóvel novo' no registro de perfil <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Bloquear campos obrigatórios no registro do perfil <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Indicador de email aberto quando a mensagem é visualizada <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #ADMIN: Melhorando a visualização do STATUS <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #ADMIN: Permitir alterar inf. iniciais mesmo após atribuição para o corretor <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #FIX: Dados para envio de email de notificação <strong>#Improvement</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #32</strong> ---- 13 Março 2015</h1>
                <ul>
                    <li><a href="#">#</a> #ADMIN: importar aquivo VivaReal <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #ADMIN: Versão inicial da app de relatórios <strong>#NewFeature</strong></li>
                    <li><a href="#">#</a> #FIX: Atualização configuracoes do Mandrill <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #ADMIN: Melhoria na busca por nome, atalhos para cadastrar novos contatos <strong>#Improvement</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #31</strong> ---- 6 Março 2015</h1>
                <ul>
                    <li><a href="#">#</a> #CORRETOR: Motivo ao finalizar atendimento <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Usabilidade, links diretors para pausar/voltar atendimento nos paineis <strong>#Improvement</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #30</strong> ---- 5 Março 2015</h1>
                <ul>
                    <li><a href="#">#</a> #ADMIN: Novos tipos de criado_via: Zap, Site, Indicação etc... <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #ADMIN: Aumentado o tamanho do campo Inf. Iniciais. <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #ADMIN: Novo campo: Data que o cliente chegou para atendimento. <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Removendo temporiariamente as notificações de pendências (aviso vermelho). <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Aumentado o tamanho do campo conteúdo da mensagem <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Exibindo a data real no lugar do tempo decorrido nas mensagens com o cliente. <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #ADMIN: Melhorando a exibição dos atendimentos por corretor (1 por linha) <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #ADMIN: Exibindo totalizadores de atendimentos (Compra/Aluguel, Novos, Em andamento) de modo a facilitar a atribuição para corretores <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Novos ajustes para evitar emails para o corretor cairem no SPAM. <strong>#Improvement</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #29</strong> ---- 24 Fevereiro 2015</h1>
                <ul>
                    <li><a href="#">#</a> #CORRETOR: Melhoria na visualização dos atendimentos separado por STATUS. <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #BUGFIX: Correção na importação da ref. inicial para tipo comercial. <strong>#BugFix</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Melhoria na visualização do número dos telefones. <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #BUGFIX: Correção na edição da nota do corretor que alterava o status. <strong>#BugFix</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Indicador se o email foi aberto ou não. <strong>#NewFeature</strong></li>
                    <li><a href="#">#</a> #BUGFIX: Ignorar imóveis sem fotos. <strong>#BugFix</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #28</strong> ---- 19 Fevereiro 2015</h1>
                <ul>
                    <li><a href="#">#</a> #CORRETOR: Adicionado novo campo para indicar se o imovel tem agendamento. <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Indicador para informar que o cliente não atende ligações. <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Pausar atendimento quando o cliente quer dar um tempo antes de agendar as visitas. <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Indicador que não existe imóvel para o perfil do cliente. <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Permitir alterar referência de imóvel para visitação. <strong>#Improvement</strong></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h1><strong>Build #27</strong> ---- 13 Fevereiro 2015</h1>
                <ul>
                    <li><a href="#">#</a> #CORRETOR: Lista de atividades foi melhorada e aparece diretamente no painel do cliente. <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Ordenação dos atendimentos esta agora por STATUS. <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #CORRETOR: Criada a versão inicial do guia do corretor o qual lista as pendências do momento. <strong>#NewFeature</strong></li>
                </ul>
            </div>
 
             <div class="col-md-12">
                <h1><strong>Build #27</strong> ---- 12 Fevereiro 2015</h1>
                <ul>
                    <li><a href="#">#</a> #CORRETOR: Melhorando a exibição e cadastro do registro de atividades. <strong>#Improvement</strong></li>
                </ul>
            </div>

             <div class="col-md-12">
                <h1><strong>Build #26</strong> ---- 11 Fevereiro 2015</h1>
                <ul>
                    <li><a href="#">#</a> Novo campo para indicar se é permuta ou não. <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Adicionado a lista de clientes finalizados no painel do corretor. <strong>#NewFeature</strong></li>
                    <li><a href="#">#</a> #ADMIN: Indicador da disponibilidade dos corretores ao atribuir corretor aos contatos. <strong>#NewFeature</strong></li>
                </ul>
            </div>

            <div class="col-md-12">
                <h1><strong>Build #25</strong> ---- 6 Fevereiro 2015</h1>
                <ul>
                    <li><a href="#">#</a> Ajustes no email para o corretor para evitar ir para SPAM <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #BUGFIX: Evitando duplicação de referências. <strong>#BugFix</strong></li>
                    <li><a href="#">#</a> Permitindo mutiplas referências iniciais. <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #UX: Permitindo alterar informações iniciais dos novos contatos <strong>#Improvement</strong></li>

                    <li><a href="#">#</a> #UX: Possibilidade de alterar o nome do cliente, entrar com o nome do cônjuge. <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #BUGFIX: Perdendo informações dos campos após validação da página de novo contato. <strong>#BugFix</strong></li>
                </ul>
            </div>

            <div class="col-md-12">
                <h1><strong>Build #24</strong> ---- 3 Fevereiro 2015</h1>
                <ul>
                    <li><a href="#">#</a> #UX Criando novo contato a partir de uma busca sem resultado <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> #UX Adicionando mais informações para o corretor no painel do cliente <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Melhoria na navegação dos paineis (cliente/corretor) para diminuir o numero de clicks para acessar paginas <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Aumentando o tamanho do pop-up <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Alerta visual para indicar as pendencias para o corretor <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Indicador se as mensagens foram lidas pelo cliente <strong>#NewFeature</strong></li>
                    <li><a href="#">#</a> Melhoria no conteúdo dos emails para os clientes de forma que eles se fiquem mais a vontade para clicar nos links<strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Importação do arquivo da VivaReal <strong>#Improvement</strong></li>
                </ul>
            </div>

            <div class="col-md-12">
                <h1><strong>Build #23</strong> ---- 30 Janeiro 2015</h1>
                <ul>
                    <li><a href="#">#</a> Indicador se o imóvel foi visitado ou não [corretor] <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Obtendo os valores iniciais do perfil a partir da ref. inicial. <strong>#NewFeature</strong></li>
                </ul>
            </div>

            <div class="col-md-12">
                <h1><strong>Build #22</strong> ---- 28 Janeiro 2015</h1>
                <ul>
                    <li><a href="#">#</a> Adicionando um Reply-To (corretor) nos emails para os clientes <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Nova app para importar arquivo VivaReal de imóveis <strong>#NewFeature</strong></li>
                </ul>
            </div>

            <div class="col-md-12">
                <h1><strong>Build #21</strong> ---- 27 Janeiro 2015</h1>
                <ul>
                    <li><a href="#">#</a> Melhorando a usabilidade da avaliação dos imóveis (painel do cliente) <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Título mais adequando quando não existe imóvel para avaliar <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Assunto do email mais adequado para o cliente <strong>#Improvement</strong></li>
                </ul>
            </div>

            <div class="col-md-12">
                <h1><strong>Build #20</strong> ---- 23 Janeiro 2015</h1>
                <ul>
                    <li><a href="#">#</a> Melhorando a usabilidade da edição/exibição dos STATUS <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Permitindo o envio de mensagens internas (Admin --> Corretor) <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Melhorias de usabilidade no painel do cliente <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Registro de Atividades <strong>#NewFeature</strong></li>
                    <li><a href="#">#</a> Identificador de mensagens lidas <strong>#NewFeature</strong></li>
                </ul>
            </div>

            <div class="col-md-12">
                <h1><strong>Build #19</strong> ---- 21 Janeiro 2015</h1>
                <ul>
                    <li><a href="#">#</a> Busca Inteligente de clientes <strong>#Improvement</strong></li>
                </ul>
            </div>

            <div class="col-md-12">
                <h1><strong>Build #18</strong> ---- 15 Janeiro 2015</h1>
                <ul>
                    <li><a href="#">#</a> Em algumas situações a página era redirecionada para o lugar incorreto após avaliar um imóvel + enviar mensagem para o corretor<strong>#BUGFIX</strong></li>
                </ul>
            </div>

            <div class="col-md-12">
                <h1><strong>Build #17</strong> ---- 14 Janeiro 2015</h1>
                <ul>
                    <li><a href="#">#</a> O envio da mensagem de avalição dos imóveis para o cliente não estava funcionando<strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Adicionado o logotipo da imobiliaria na homepage<strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Melhorando o conteúdo e a formatação dos emails enviados para o cliente/corretor<strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Adicionando diferentes email sender (conforme ambiente) <strong>#Improvement</strong></li>
                </ul>
            </div>

            <div class="col-md-12">
                <h1><strong>Build #16</strong> ---- 19 Dezembro 2014</h1>
                <ul>
                    <li><a href="#">#</a> Melhoria na usabilidade: Aceitando ENTER e evitando ir para a próxima tela com dados incorretos no cad. novo contato <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Revisão do STATUS após registrar perfil e enviar primeira mensagem para o cliente <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Revisão do rodapé (endereço e telefones) no site e email para os clientes <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Novo campo: Nota do corretor o qual registra informações sobre o contato com o cliente <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Mais informações (como o link para o painel do cliente) no email de notificação para o corretor <strong>#Improvement</strong></li>
                </ul>
            </div>

            <div class="col-md-12">
                <h1><strong>Build #15</strong> ---- 18 Dezembro 2014</h1>
                <ul>
                    <li><a href="#">#</a> Informativo sobre últimos atendimentos no cadastro de novo contato<strong>#NewFeature</strong></li>
                    <li><a href="#">#</a> Correção de erro 500 no login <strong>#BUGFIX</strong></li>
                </ul>
            </div>            

            <div class="col-md-12">
                <h1><strong>Build #14</strong> ---- 17 Dezembro 2014</h1>
                <ul>
                    <li><a href="#">#</a> Correção do novo contato que estava inserindo contatos invalidos<strong>#BUGFIX</strong></li>
                    <li><a href="#">#</a> Informativo se o email/telefone sendo inserido tem (ou já teve) atendimento (é exibido o corretor do mesmo).<strong>#Improvement</strong></li>
                </ul>
            </div>

            <div class="col-md-12">
                <h1><strong>Build #13</strong> ---- 10 Dezembro 2014</h1>
                <ul>
                    
                    <li><a href="#">#</a> Preparando para produção: MySQL<strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Adicionado link para site no painel do cliente e no primeiro email de notificação<strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Correção do erro 500 na página de login<strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Novos campos no perfil do cliente: Térreo ou Sobrado<strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Novos campos no perfil do cliente: Area Construída, Andar preferencial<strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Novos campos no contato do cliente: WhatsApp e melhor forma de contato<strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Melhorando usabilidade no envios de mensagens para o corretor (solicitar + imoveis, agendar visita)<strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Permitir o Corretor Adicionar novo contato <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Informações de email e telefone existentes na página de acidionar contato<strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Validação dos números de telefones na página de contatos<strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Novo campo no cadastro do Corretor: Foto<strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Novos campos no cadastro do Corretor: Fone, WhatsApp e CRECI<strong>#Improvement</strong></li>                    
                </ul>
            </div>

            <div class="col-md-12">
                <h1><strong>Build #12</strong> ---- 4 Dezembro 2014</h1>
                <ul>
                    <li><a href="#">#</a> Verificando se o cliente existe no cadastro de novos contatos<strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Validando telefone, email e nome de novos contatos <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Novos campos para o cliente: WhatsApp e melhor forma de contato <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Novos campos para o perfil do cliente: Area Construida, Andar preferencial <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Novos campos para o Corretor: Fone, WhatsApp e CRECI e Foto<strong>#Improvement</strong></li>
                </ul>
            </div>

            <div class="col-md-12">
                <h1><strong>Build #11</strong> ---- 21 Novembro 2014</h1>
                <ul>
                    <li><a href="#">#</a> Comando para importar clientes do sistema ASSIST <strong>#NewFeature</strong></li>
                    <li><a href="#">#</a> Suporte a multiplos telefones no contato do cliente <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Adicionado o botão de logout nos paineis do Corretor/Administrador <strong>#Improvement</strong></li>
                </ul>
            </div>

            <div class="col-md-12">
                <h1><strong>Build #10</strong> ---- 20 Novembro 2014</h1>
                <ul>
                    <li><a href="#">#</a> Revisado os STATUS de um atendimento <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Criado o conceito de atendimento pausado (standby) <strong>#Improvement</strong></li>
                    <li><a href="#">#</a> Adicionado novos campos ao perfil do cliente (dormitórios, vagas) <strong>#Improvement</strong></li>
                </ul>
            </div>

            <div class="col-md-12">
                <h1><strong>Build #0</strong> ---- 20 Setembro 2014</h1>
                <ul>
                    <li><a href="#">#</a> Protótipos iniciais<strong>#NewFeature</strong></li>
                </ul>
            </div>

        </div>
      </div>
    </section>	

{% endblock %}
