{% extends 'core/base_core.html' %}

{% load static %}

{% block navbar_area %}
{% endblock %}

{% block content %}
{% endblock %}

{% block slider_area %}
{% endblock %}


{% block header_area %}

  <section class="section-padding" style="background: rgba(238, 238, 239, 0.33);">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
          <figure>                      
            <img width="100%" src="{% static 'themes/sydney/img/corretaza_art1.jpg' %}" />
          </figure>
        </div>
        <div class="col-sm-3">
        </div>
      </div>
    </div>
  </section>

  <section class="section-padding" style="background: rgba(218, 218, 219, 0.33);">
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <h1 style="font-size: 3em;" ><strong>Plataforma para o setor imobiliário</strong> <small></small></h1>

          <br/>
          <h1 style="font-size: 2em;"><i class="fa fa-check"></i> Para quem <strong>é</strong> isto aqui?</h1>
          <ul style="font-size: 1.2em;">
            <li>Para quem gosta de tecnologia e sabe que ela pode melhorar onde vivemos</li>
            <li>Para quem sonha em ter um negócio próprio/empreender</li>
            <li>Para quem acredita em software como serviço #SaaS</li>
            <li>Para quem tem interesse em #Innovation #Entrepreneurship #Creativity #Education&Technology #StartupBusinesses  </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="section-padding" style="background: rgba(198, 198, 199, 0.33);">
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">

          <h1 style="font-size: 2em;"><i class="fa fa-building"></i> Qual o contexto?</h1>
          <ul style="font-size: 1.2em;">
            <li>Atualmente só existem "sites" com buscadores (bem ruim em #Usabilidade entre outras coisas) para os clientes que procuram imóveis, existem infinitas opções vendendo a mesma coisa, as quais não consideram o lado do corretor, dos proprietários e mesmo o lado do cliente é pouco trabalhado.
            <small><a target="_new" href="http://www.vivareal.com.br/parceiros/">Alguns exemplos aqui</a></small>
            </li>
            <li>Se os atendimentos aos clientes continuarem como são atualmente, o papel do 'corretor de imóveis' pode deixar de existir, principalmente no que diz respeito as locações. <small><a target="_new" href="https://www.quintoandar.com.br/">Veja este exemplo</a></small></li>
            
            <li>Desta forma, estamos construindo uma plataforma em resposta a deficiência do setor imobiliario, o qual não consegue atender a real necessidades dos clientes que querem comprar/alugar imóveis. 
            Não chega a ser uma tecnologia totalmente desruptiva, mas tem como principal objetivo fazer os corretores trabalharem menos nas partes repetitivas e torná-los mais eficazes. 
            Em outras palavras, os corretores não conseguem fazer bem seu trabalho por que não tem ferramentas adequadas no mercado.</li>
            <li>Acreditamos que o mercado imobiliario vai mudar muito nos próximos anos com o produto que estamos moldando. </li>
          </ul>

          <br/>
          <h1 style="font-size: 2em;"><i class="fa fa-bug"></i> Problemas atuais</h1>
          <ul style="font-size: 1.2em;">
            <li>Muitos clientes tentam pular o corretor, sendo que acreditam que ele só faz ficar mais caro o imóvel ou que eles não fazem o que deveriam fazer</li>
            <li>Dados estatísticos mostram que de cada 100 clientes procurando imóveis, 20 respondem ao contato do corretor e apenas 1 fecha negócio.</li>
            <li>
              <figure>
                <img width="620" src="{% static 'themes/sydney/img/corretaza_mercado_problemas.jpg' %}" />
              </figure>
            </li>
          </ul>

          <br/>
          <h1 style="font-size: 2em;"><i class="fa fa-paper-plane-o"></i> Objetivos da plataforma</h1>
          <ul style="font-size: 1.2em;">
            <li>Fazer os corretores serem mais eficazes, assim os clientes vão querer comprar com um corretor envolvido, uma vez que será mais vantajoso</li>
            <li>Aumentar de 20% para 60% as respostas de clientes</li>
            <li>Aumentar na ordem de 10x a eficiência nos atendimentos</li>
            <li>Eliminar agenda de papel</li>
            <li>Eliminar comunicação centralizada via email</li>
            <li>Melhorar a eficácia dos corretores</li>
            <li>
              <figure>
                <img width="340" src="{% static 'themes/sydney/img/corretaza_envisioning.jpg' %}" />
              </figure>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </section>

  <section class="section-padding" style="background: rgba(168, 168, 169, 0.33);">
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">

          <h1 style="font-size: 2em;"><i class="fa fa-pie-chart"></i> Situação Atual?</h1>
          <ul style="font-size: 1.2em;">
            <li>Estamos a pouco mais de 1 ano desenvolvendo a solução (desde Out 2014)</li>
            <li>Existe 01 cliente real utilizando a plataforma diariamente</li>
            <li>+5 corretores e +70 novos atendimentos por semana passam pela plataforma</li>
            <li>Toda semana vai ao ar novas funcionalidades (#entregas)</li>
            <li>Esta provado com dados estatisticos a efeciência da plataforma</li>
          </ul>

          <br/>
          <h1 style="font-size: 2em;"><i class="fa fa-key"></i> Estratégias que resultaram no sucesso até agora?</h1>
          <ul style="font-size: 1.2em;">
            <li>A ideia principal é gerar valor para o cliente ao invés de seguir um plano/cronograma</li>
            <li>Decisões de novas funcionalides tem como base feedback das #entregas anteriores</li>
            <li>Curto espaço de tempo para validar as hipóteses de soluções</li>
            <li>Ideia de coletar ao máximo de dados de todos os lados possíveis #BigData</li>
          </ul>

        </div>

      </div>
    </div>
  </section>

  <section class="section-padding" style="background: rgba(138, 138, 139, 0.33);">
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <h1 style="font-size: 2em;"><i class="fa fa-globe"></i> Por que não escalar para mais clientes?</h1>
          <ul style="font-size: 1.2em;">
            <li>A EUquipe atual tem 1 pessoa fazendo todas as frentes</li>
            <li>Existe um risco neste momento começar a vender para mais clientes em termos de Time To Market</li>
            <li>Existem diversos fatores Legais, Comerciais, Jurídicos, Marketing etc que não foram levados em conta...</li>
          </ul>

          <br/>
          <h1 style="font-size: 2em;"><i class="fa fa-life-saver"></i> O que estamos precisando?</h1>
          <ul style="font-size: 1.2em;">
            <li>Mais pessoas, parceiros, sócios ou investidores que acreditam na ideia</li>
            <li>Sabemos que sozinho ou apenas 2 pessoas tocando tudo isto, as chances são mínimas</li>
            <li>Precisamos dar um salto levando em conta todas as frentes de modo estar pronto para venda em massa</li>
          </ul>
        </div>

      </div>
    </div>
  </section>

  <section class="section-padding" style="background: #E65802; color: white">
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <h1 style="font-size: 2em;"><i class="fa fa-thumbs-o-up"></i> Interessou? Quer ser um parceiro, investidor ou colaborador?</h1>
          <ul style="font-size: 1.2em;">
            <li>Estamos analisando qualquer tipo de proposta</li>
            <li>Estamos precisando de todo tipo de ajuda, seja com sugestões, ideias, financeira ou mão na massa</li>
            <li>Acreditamos na diversidade</li>
            <li>Estamos precisando de pessoas de outros setores e não apenas programadores e pessoas do setor imobiliário.</li>
          </ul>

          <br/>
          <h1 style="font-size: 2em;"><i class="fa fa-envelope-o"></i> Quer saber mais da solução? Tem alguma dúvida?</h1>
          <ul style="font-size: 1.2em;">
            <li>Fique a vontade para falar com a gente</li>
            <li>Envie um email para <a href="mailto:corretaza@na-inter.net">corretaza@na-inter.net</a></li>
          </ul>
        </div>

      </div>
    </div>
  </section>

  <section class="section-padding" style="background: #8E3601; color:white">
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <div class="text-center">
            <h1>Corretaza</h1>
            <h4>Copyright © 2015</h4>
          </div>
        </div>

      </div>
    </div>
  </section>

{% endblock %}

{% block footer_area %}
{% endblock footer_area %}



{% block extrajs_bottom %}
    <script type="text/javascript">

      $(document).ready(function(){

      });
    </script>
{% endblock extrajs_bottom %}