{% extends 'core/base_core.html' %}

{% load static %}

{% block navbar_area %}
{% endblock %}

{% block content %}
{% endblock %}

{% block slider_area %}
{% endblock %}


{% block header_area %}

  <section class="section-padding" style="background: rgba(238, 238, 239, 0.33);">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
          <figure>                      
            <img width="100%" src="{% static 'themes/sydney/img/corretaza_art1.jpg' %}" />
          </figure>
        </div>
        <div class="col-sm-3">
        </div>
      </div>
    </div>
  </section>

  <section class="section-padding" style="background: rgba(218, 218, 219, 0.33);">
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <h1 style="font-size: 3em;" >FINALIZADO! <s><strong>Oportunidade Freelancer</strong></s> <small>Python & Web</small></h1>

          <br/>
          <h1 style="font-size: 2em;"><i class="fa fa-check"></i> Para quem <strong>é</strong> esta oportunidade?</h1>
          <ul style="font-size: 1.2em;">
            <li>Para quem já esta trabalhando, porem tem de <strong>4 a 16 horas livres</strong> na semana</li>
            <li>Para quem quer uma renda extra</li>
            <li>E o mais importante! Para quem tem vontade! gosta de tecnologia e quer fazer software da forma correta!</li>
            <li>Para quem já tem ou quer ter a experiência de trabalhar <strong>100% remoto</strong></li>
            <li>Para quem quer ter a possibilidade de trabalhar em um produto legal que gera valor para os clientes, utilizando boas praticas #Fazer-A-Coisa-Certa #Feedback #Usabilidade #Entrega-Contínua</li>
            <li>Para quem quer melhorar seus conhecimentos em #Tests #UnitTests #QA #PyTest #Mocking</li>
            <li>Para quem quer melhorar seus conhecimentos em #BigData</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="section-padding" style="background: rgba(198, 198, 199, 0.33);">
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">

          <h1 style="font-size: 2em;"><i class="fa fa-code"></i> Quais são os requisitos?</h1>
          <ul style="font-size: 1.2em;">
            <li>Como dito acima, primeiramente ter boa vontade e iniciativa</li>
            <li>Hoje estamos usando <strong>Django</strong>, mas precisamos de solucionadores de problemas e não especialistas em X ou Y</li>
            <li>Alguem que queira entender o contexto, ache o que precisa ser feito ao invés de apenas ficar esperando a próxima tarefa</li>
            <li>Alguem que saiba trabalhar <strong>sem um gerente de projetos</strong></li>
            <li>Alguem que goste de aprender novas tecnlogias, estudar novos frameworks</li>
          </ul>

          <br/>
          <h1 style="font-size: 2em;"><i class="fa fa-star"></i> Mas é Jr, Pleno, Senior ou Arquiteto?</h1>
          <ul style="font-size: 1.2em;">
            <li>Não importa! Títulos não são importantes para nós. "Show me the code!" Precisa gostar e acreditar no que acreditamos, simples assim.</li>
            <li>É claro, saber fazer um CRUD fora do admin e como fazer uma chamada AJAX no Django é fundamental</li>
            <li>No mais, teremos toda paciência de explicar nossa stack de tecnologias, que não é nada de outro mundo, pode acreditar</li>
          </ul>

          <br/>
          <h1 style="font-size: 2em;"><i class="fa fa-thumbs-o-up"></i> Quais são as vantagens?</h1>
          <ul style="font-size: 1.2em;">
            <li>Pessoas que prezam por troca de conhecimentos</li>
            <li>Uso de ferramentas para melhorar a comunicação de times remotos #SLACK</li>
            <li>Boas praticas do mundo open-source #TESTS #CI #ONE-CLICK-DEPLOY</li>
            <li>Acreditamos em #XP #LeanPyramid e desenvolvimento #Ágil</li>
            <li>Pelo menos 1 vez por semana, temos código em produção gerando valor para o cliente</li>
            <li>Novo #Sprint de trabalho leva em conta o feedback da última entrega</li>
            <li>Temos como meta ter uma equipe/ambiente incrível para se trabalhar! Aqueles onde você não quer trocar de trabalho! (Embora estamos apenas no início e somos uma equipe extremamente pequena AINDA)</li>
          </ul>

          <br/>
          <h1 style="font-size: 2em;"><i class="fa fa-dollar"></i> Okay, mas qual o valor?</h1>
          <ul style="font-size: 1.2em;">
            <li>Temos um orçamento apertado, não vamos enganar ninguem. Nosso valor inicial é de <strong>R$30 a R$45 por hora</strong></li>
            <li>Acreditamos que em breve teremos novos clientes e um melhor orçamento.</li>
          </ul>

        </div>
      </div>
    </div>
  </section>

  <section class="section-padding" style="background: rgba(168, 168, 169, 0.33);">
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">

          <h1 style="font-size: 2em;"><i class="fa fa-home"></i> Legal, mas qual é o produto?</h1>
          <ul style="font-size: 1.2em;">
            <li>Acreditamos que o mercado imobiliario vai mudar muito nos próximos anos com o produto que estamos moldando.</li>
            <li>Atualmente só existem "sites" com buscadores (bem ruim em UX entre outras coisas) para os clientes que procuram imóveis, existem infinitas opções vendendo a mesma coisa, as quais não consideram o lado do corretor, dos proprietários e mesmo o lado do cliente é muito ruim.</li>
            <li>Se os atendimentos aos clientes continuarem como são atualmente, o papel do 'corretor de imóveis' pode deixar de existir, principalmente no que diz respeito as locações.</li>
            
            <li>Desta forma, estamos construindo uma plataforma em resposta a deficiência do setor imobiliario, o qual não consegue atender a real necessidades dos clientes que querem comprar/alugar imóveis. 
            Não chega a ser uma tecnologia totalmente desruptiva, mas tem como principal objetivo fazer os corretores trabalharem menos nas partes repetitivas e torná-los mais eficazes. 
            Em outras palavras, os corretores não conseguem fazer bem seu trabalho por que não tem ferramentas adequadas no mercado.</li>
          </ul>

          <br/>
          <h1 style="font-size: 2em;"><i class="fa fa-times"></i> Para quem <strong>NÃO</strong> é esta oportunidade?</h1>
          <ul style="font-size: 1.2em;">
            <li>Para quem quer um trabalho full-time (40 horas por semana)</li>
            <li>Para quem quer um trabalho CLT com todos os benefícios do mesmo</li>
            <li>Para quem quer apenas fazer um freela de 1 mes e depois trocar de trabalho</li>
          </ul>

        </div>

      </div>
    </div>
  </section>

  <section class="section-padding" style="background: rgba(138, 138, 139, 0.33);">
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
          <h1 class="text-danger">FINALIZADO</h1>
          <p>
            <a id="btn-tenhointeresse" class="btn btn-lg btn-danger"> Tenho interesse <i class="fa fa-arrow-right"></i></a>
          </p>
        </div>
        <div class="col-sm-7">
          <div id="form-respostas" style="display: none;">
            <p>
              <h3 style="line-height: 26px;">Por favor, pedimos que responda as 6 questões (menos de 5 min) utilizando o link abaixo</h3>
            </p>
            <p>
              <a href="http://goo.gl/forms/VSYsA16igD" style="text-decoration: underline;">Responder as questões</a>
            </p>
            <p style="font-size: 17px;"><small>Obs: Você pode também utilizar o mesmo link acima para tirar dúvidas ou saber mais detalhes do nosso produto.</small></p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="section-padding" style="background: rgba(88, 88, 89, 0.33);">
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <div class="text-center">
            <h1>Corretaza</h1>
            <h4>Copyright © 2015</h4>
          </div>
        </div>

      </div>
    </div>
  </section>

{% endblock %}

{% block footer_area %}
{% endblock footer_area %}



{% block extrajs_bottom %}
    <script type="text/javascript">

      $(document).ready(function(){

        $('#btn-tenhointeresse').click(function (e) {
          e.preventDefault();
          $( "#form-respostas" ).show("fast");
        });

      });
    </script>
{% endblock extrajs_bottom %}