{% extends 'themes/sydney/base.html' %}

{% load staticfiles %}
{% load floppyforms %}

{% block extrajs_top %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block content %}

  <div class="popup-content">
    <h1><strong>Condomínio</strong></h1>
    <div class="row">

      <div class="col-sm-12">

        <form method='post' enctype="multipart/form-data">{% csrf_token %}

            <div class="row">
              <div class="col-xs-12">
                {% formrow form.nome %}
              </div>
            </div>

            <div class="row">
              <div class="col-xs-8">
                {% formrow form.cidade %}
              </div>
              <div class="col-xs-4">
                {% formrow form.cep %}
              </div>
            </div>

            <div class="row">
              <div class="col-xs-8">
                {% formrow form.logradouro %}
              </div>
              <div class="col-xs-4">
                {% formrow form.numero %}
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                {% formrow form.bairro %}
              </div>
              <div class="col-xs-6">
                {% formrow form.regiao %}
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                {% formrow form.portaria %}
                <span>Última atualização: {{ object.portaria_atualizada_em|timesince }}</span>
              </div>
              <div class="col-xs-3">
                {% formrow form.tem_elevador %}
              </div>
            </div>

            <div class="row">
              <div class="col-xs-4">
                {% formrow form.blocos %}
              </div>
              <div class="col-xs-4">
                {% formrow form.andares %}
              </div>
              <div class="col-xs-4">
                {% formrow form.apto_por_andar %}
              </div>
            </div>

            <div class="row">
              <div class="col-xs-8">
                {% formrow form.construtora %}
              </div>
              <div class="col-xs-4">
                {% formrow form.ano_construcao %}
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                {% formrow form.contato_portaria %}
                {% formrow form.contato_zelador %}
                {% formrow form.contato_administradora %}
                {% formrow form.regras_mudanca %}
              </div>
            </div>


            <div class="row">
              <div class="col-xs-8">
                {% formrow form.areadelazer_condominio %}
              </div>
            </div>

            <div class="bottom-fix-menu" align="center">
              <h1>
                <input type="submit" class="btn btn-lg btn-success" value="Salvar" />
                <a href="{% url 'core.windows_close' %}" class="btn btn-lg btn-danger" role="button" >Cancelar</a>
              </h1>
            </div>

        </form> 

        <div class="clearfix"><br><br><br><br></div>

      </div>

    </div>
  </div>

{% endblock %}

{% block footer_area %}
{% endblock footer_area %}

{% block extrajs_bottom %}

  <script type="text/javascript">
    $(document).ready(function(){

      $('#id_bairro').selectize({create: true});

    });
  </script>

{% endblock extrajs_bottom %}