{% extends 'themes/sydney/base.html' %}

{% load staticfiles %}
{% load floppyforms %}

{% block extrajs_top %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block content %}

        <div class="container">
            <p>{{ form.field.errors }}</p>
            <div class="row">
              <div class="col-sm-3 content-center">
                <figure>
                  <img src="{% static 'themes/sydney/img/logo-casa.jpg' %}" style="width: 100%; max-width: 168px;" />
                </figure>
              </div>
              <div class="col-sm-9 content-center">
                <h1><i class="fa fa-heart"></i> Gostou deste imóvel, certo?</h1>
              </div>
            </div>
            
            <form id="form-mensagem" method='post' enctype="multipart/form-data">{% csrf_token %}
              
              {% formrow form.imovel_ref %}
              <div class="step1">

                  <div class="row">
                    <div class="col-xs-12">
                      <h3>Informe seu contato e podemos te enviar mais informações sobre ele.</h3>
                    </div>
                    <div class="col-xs-6">
                      {% formrow form.nome %}
                    </div>
                    <div class="col-xs-6">
                      {% formrow form.sobrenome %}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-6">
                      {% formrow form.email %}
                    </div>
                  </div>
                      
                  <div class="row">
                    <div class="col-xs-12">
                      <button type="button" id="btn_continuar" class="btn-destaque-lg">
                          Continuar <i class="fa fa-arrow-right"></i>
                      </button> 
                    </div>
                  </div>

              </div>

              <div class="step2" style="display: none;">

                  <div class="row">
                    <div class="col-xs-12">
                      <h3>Com seu telefone ou WhatsApp, agilizaremos o seu atendimento e enviaremos nosso contato.</h3>
                    </div>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8">
                      {% formrow form.telefone %}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8">
                      {% formrow form.mensagem %}
                    </div>
                  </div>
                    
                  <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8">
                      <button id="btn-enviar" type="button" class="btn-destaque-lg">
                        Enviar mensagem <i class="fa fa-envelope"></i>
                      </button> 
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12">
                      <div align="center">
                        <h3>
                          <a id="btn-voltar-step1" href="#" class="btn btn-lg" role="button" style="padding: 30px;"><i class="fa fa-chevron-circle-left"></i> Voltar</a>
                        </h3>
                        <p><i class="fa fa-lock"></i> Cumprimos rigorosamente com as políticas de privacidade e seu email/telefone estão guardados com todo cuidado.</p>
                      </div>
                    </div>
                  </div>

              </div>

            </form>

        </div>


{% endblock %}

{% block footer_area %}
{% endblock footer_area %}

{% block extrajs_bottom %}

  <script src="{% static 'ibuscador/contatar_form.js' %}?v=0.0.3"></script>

{% endblock extrajs_bottom %} 