{% extends 'core/base_core.html' %}

{% load static %}

{% block navbar_area %}
{% endblock %}

{% block content %}

  <section class="intro section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <center>
            <h1 style="font-size: 8em;"><strong>Ocorreu um erro!</strong></h1>
            <h3 style="font-size: 2.26em;"><small>Nos desculpamos pelo transtorno. Nossa equipe foi notificada e pedimos para tentar novamente em breve...</small></h3>
          <p>
            <a class="btn btn-default" href="http://www.sjcvaleimoveis.com.br">Página principal</a>
            <a class="btn btn-default" href="http://www.sjcvaleimoveis.com.br/buscador/">Comprar ou Alugar imóvel</a>
            <a class="btn btn-default" href="http://www.sjcvaleimoveis.com.br/">Fale conosco</a>
          </p>
          </center>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
