{% extends 'ibuscador/base_ibuscador.html' %}

{% load static %}

{% block navbar_area %}
{% endblock navbar_area %}

{% block header_area %}
{% endblock header_area %}

{% block content %}

  <div class="container">

    <div class="row">

      <div class="col-md-6">

        <br><br><br>
        <h3>Imóveis publicados para venda: <strong>{{ para_venda_pub }}</strong> <small>(arquivados: {{ para_venda_arq }})</small> </h3>
        <h3>Imóveis publicados para locação: <strong>{{ para_locacao_pub }}</strong> <small>(arquivados: {{ para_locacao_arq }})</small></h3>
        <h3>Captações pendentes:
          <a class="btn btn-warning btn-lg" href="{% url 'ibuscador.lista.novos.imoveis' %}">{{ novos }}</a>
        </h3>
        <p><a class="btn btn-warning" href="{% url 'imoveis.novo.imovel' %}"><i class="fa fa-plus"></i> Novo Imóvel</a></p>

        <br><br>

        <h1><strong>Buscador</strong></h1>
        <form method='get' action="{% url 'ibuscador.lista.imovel_por_palavra' %}">

          <p>
            <input type="search" class="form-control" name="palavras" id="id_palavras"  maxlength="64" placeholder="Buscar por rua, bairro, condomínio, cep, numero ou proprietario">
          </p>
          <p>
            <button type="submit" class="btn btn-lg btn-success">
              <i class="fa fa-search"></i> Buscar
            </button>
          </p>
        </form>

      </div>


      <div class="col-md-6">

        <br><br><br>
        <h1><i class="fa fa-paw"></i> Histórico de imóveis</h1>

        <p>
          <small><span style="font-size: 115%;">Exibir/Esconder:</span></small>
          <button id="show_hide_publicados" type="button" class="btn btn-default btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Últimas Publicaçõe"><i class="fa fa-globe"></i> </button>

          <button id="show_hide_arquivados" type="button" class="btn btn-default btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Últimos imóveis arquivados"><i class="fa fa-archive"></i>
          </button>

          <button id="show_hide_valores" type="button" class="btn btn-default btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Últimas alterações de valor"><i class="fa fa-usd"></i>
          </button>

          <button id="show_hide_novascaptacoes" type="button" class="btn btn-default btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Últimas captacões"><i class="fa fa-plus"></i>
          </button>

        </p>

        <table class="table">
          <tbody>
          {% for historico in imovelhistorico_list %}
            <tr class="tipohistorico tipo-{{ historico.tipo_historico }}">
              <td style="width: 110px;">
                <span>{{ historico.usuario|capfirst }}</span><br>
                <small style="color: #797676;">{{ historico.data|date:"d b y G:i" }}</small>
              </td>
              <td>
                {% if "Valor" == historico.tipo_historico %}
                  <span class="badge" style="background-color: #4cae4c"><i class="fa fa-usd"></i></span>
                {% elif "Publicou" == historico.tipo_historico %}
                  <span class="badge" style="background-color: #4cae4c"><i class="fa fa-globe"></i></span>
                {% elif "Arquivou" == historico.tipo_historico %}
                  <span class="badge"><i class="fa fa-archive"></i>
                {% elif "NovaCaptacao" == historico.tipo_historico %}
                  <span class="badge" style="background-color: #eea236"><i class="fa fa-plus"></i></span>
                {% elif "EnderecoAlterado" == historico.tipo_historico %}
                  <span class="badge"><i class="fa fa-map-marker"></i></span>
                {% endif %}
              </td>
              <td><strong><a href="{{ historico.imovel.get_absolute_url }}">Ref: {{ historico.imovel.imovel_ref }}</a></strong> {% if historico.imovel.eh_novo %}<span class="badge" style="background-color: #a94442;"> Pendente</span>{% endif %}
              <br>{{ historico.conteudo }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

      </div>

    </div>
  </div>







{% endblock content %}

{% block footer_area %}
{% endblock footer_area %}



{% block extrajs_bottom %}
    <script type="text/javascript">

        $(document).ready(function(){

          $( "#show_hide_publicados" ).click(function() {
            $( ".tipohistorico" ).hide();
            $( ".tipo-Publicou" ).show();
          });

          $( "#show_hide_arquivados" ).click(function() {
            $( ".tipohistorico" ).hide();
            $( ".tipo-Arquivou" ).show();
          });

          $( "#show_hide_valores" ).click(function() {
            $( ".tipohistorico" ).hide();
            $( ".tipo-Valor" ).show();
          });

          $( "#show_hide_novascaptacoes" ).click(function() {
            $( ".tipohistorico" ).hide();
            $( ".tipo-NovaCaptacao" ).show();
          });

          $('[data-toggle="tooltip"]').tooltip();

        });
    </script>
{% endblock extrajs_bottom %}