{% extends 'themes/sydney/base.html' %}

{% load static %}
{% load chartkick %}

{% block extrajs_top %}

  {{ block.super }}

  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="{% static 'chartkick/chartkick.js' %}"></script>

{% endblock %}   

{% block navbar_area %}
{% endblock navbar_area %}


{% block content %}

  <section class="dark-bg section-padding contact-wrap">
    <div class="container">

      <div class="row">
        <p class="text-right">
          <a href="{% url 'core.userpage' %}#atendimentos" class="btn btn-sm btn-success"><i class="fa fa-chevron-left"></i> Voltar</a>
        </p>
        <h1>Indicadores</h1>
      </div>

      <div class="row">

        <div class="col-md-12">
          <form method='get' action="{% url 'relatorios.indicadores.geral' %}" enctype="multipart/form-data">{% csrf_token %}
            <div class="col-md-1">
              <span>Período: </span>
            </div>
            <div class="col-md-3">
              <select class="form-control input-lg" name="mes">
                <option value="1" {% if mes == '1' %}selected="selected"{% endif %}>Janeiro</option>
                <option value="2" {% if mes == '2' %}selected="selected"{% endif %}>Fevereiro</option>
                <option value="3" {% if mes == '3' %}selected="selected"{% endif %}>Março</option>
                <option value="4" {% if mes == '4' %}selected="selected"{% endif %}>Abril</option>
                <option value="5" {% if mes == '5' %}selected="selected"{% endif %}>Maio</option>
                <option value="6" {% if mes == '6' %}selected="selected"{% endif %}>Junho</option>
                <option value="7" {% if mes == '7' %}selected="selected"{% endif %}>Julho</option>
                <option value="8" {% if mes == '8' %}selected="selected"{% endif %}>Agosto</option>
                <option value="9" {% if mes == '9' %}selected="selected"{% endif %}>Setembro</option>
                <option value="10" {% if mes == '10' %}selected="selected"{% endif %}>Outubro</option>
                <option value="11" {% if mes == '11' %}selected="selected"{% endif %}>Novembro</option>
                <option value="12" {% if mes == '12' %}selected="selected"{% endif %}>Dezembro</option>
              </select>
            </div>
            <div class="col-md-2">
              <select class="form-control input-lg" name="ano">
                <option value="2017" selected="selected">2017</option>
                <option value="2016">2016</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="submit" class="btn btn-lg btn-success" value="Exibir" />
            </div>
          </form>
        </div>

        {% if mes %}
        <div class="col-md-12">
          <p>
            <a class="btn btn-default" href="{% url 'relatorios.indicadores.novosatendimentos' mes ano %}">Novos atendimentos</a>

            <a class="btn btn-default" href="#">Resposta dos atendimentos</a>

            <a class="btn btn-default" href="#">Qualidade da resposta</a>

          </p>
        </div>
        {% endif %}

        <div class="col-md-12">

          <table class="table">
            
            {% regroup indicadores_list by data as indicadores %}
            
            {% for indicador in indicadores %}

              {% if forloop.counter == 1 %}
              <tr>
                <td></td>
                {% for item in indicador.list %}
                  <td>{{ item.user }}</td>
                {% endfor %}
              </tr>
              {% endif %}

              <tr>
                <td><b>{{ indicador.grouper }}</b></td>
                {% for item in indicador.list %}
                  <td>{{ item.hits }}</td>
                {% endfor %}
              </tr>
            {% endfor %}

          </table>
        
        </div>
      </div>

    </div>
  </section>      

{% endblock content %}
