/* -------------------------------- 
Header
-------------------------------- */
.cd-main-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 55px;
  width: 100%;
  background: #3e454c;
  opacity: 0.94;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-main-header::after {
  clear: both;
  content: "";
  display: table;
}

.cd-search {
  position: relative;
  margin: 1.2em 5% 0.6em;
}
.cd-search.is-hidden {
  opacity: 0;
}

.cd-search input {
  width: 100%;
  height: 36px;
  border: none;
  border-radius: .25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.cd-search input:focus {
  outline: none;
  background-color: #242830;
}

/* -------------------------------- 

Top Navigation

-------------------------------- */
.cd-nav {
  display: block;
  float: right;
  height: 100%;
}

.cd-top-nav > li > a::before {
  /* reset style */
  display: none;
}
.cd-top-nav > li a {
  padding: 1em 5% !important;
  text-decoration: none;
}
.cd-top-nav > li a > span {
  display: -webkit-inline-box;
  font-size: 0.9em;
}
.cd-top-nav > li a > i {
  padding: 0 4px;
}


@media only screen and (min-width: 320px) {
  .cd-top-nav {
    height: 100%;
  }
  .cd-top-nav a {
    display: block;
    font-size: 1.1em;
    color: #ffffff;
  }
  .cd-top-nav > li {
    display: inline-block;
    height: 100%;
  }
  .cd-top-nav > li:last-of-type {
    margin-right: 0;
  }
  .cd-top-nav > li a {
    padding: 8px !important;
  }
  .cd-top-nav img {
    display: block;
  }
}
@media only screen and (max-width: 320px) {

  .cd-top-nav {
    height: 100%;
  }
  .cd-top-nav > li a {
    padding: 4px !important;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-top-nav li:not(.has-children) a:hover {
    color: #1784c7;
  }
}

.cd-top-nav .notification {
    color: #ffffff;
    background-color: #ff7e66;
    height: auto;
    width: auto;
    border-radius: .25em;
    padding: .2em .4em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
    left: auto;
    box-shadow: none;
}


@media only screen and (max-width: 768px) {
  .cd-top-nav > li a > span {
    display: none;
  }
  .cd-main-header {
    height: 105px;
  }

}

@media only screen and (min-width: 320px) {
  .cd-search {
    float: left;
    display: inline-block;
    /*width: 250px;*/
    height: 96%;
    margin: 0 0 0 0.5em;
  }
  .cd-search.is-hidden {
    /* reset style */
    opacity: 1;
  }
  .cd-search::before {
    background-position: 0 -16px;
    left: 1em;
  }
  .cd-search form {
    padding: 8px 2px;
  }
  .cd-search input {
    border: none;
    border-radius: 16px;
    background-color: #383d42;
    color: #fff;
    padding-left: 10px;
    font-size: 0.9em;
  }
  .cd-search input::-webkit-input-placeholder {
    color: #777c81;
  }
  .cd-search input::-moz-placeholder {
    color: #777c81;
  }
  .cd-search input:-moz-placeholder {
    color: #777c81;
  }
  .cd-search input:-ms-input-placeholder {
    color: #777c81;
  }
}

@media only screen and (min-width: 320px) {
  .cd-search input {
    max-width: 140px;
  }
}